<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUVerifyUpdateBeforeExtraction</key>
	<true/>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://github.com/KarinBerg/AppleRSSFeedWatcher/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>M+Vh3bZqFA121J4EW4d2BzOZszuSfvPse+iM4TMfGFc=</string>
	<key>SURequireSignedFeed</key>
	<true/>
</dict>
</plist>
